.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative; /* Ensure positioning context for header */
  margin-top: 150px;
}

.headerText {
  font-size: 40px; /* Increased font size */
  font-weight: bold;
  background: linear-gradient(to right, #4682b4, #87ceeb);
  -webkit-background-clip: text; /* For WebKit browsers */
  background-clip: text; /* Standard property for other browsers */
  color: transparent;
  text-align: center;
  margin-bottom: 20px; /* Add margin to separate from calendar */
  z-index: 1; /* Ensure it appears above the calendar */
}

.reactCalendar {
  width: 800px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, sans-serif;
  line-height: 1.125em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reactCalendar button {
  font-size: 1.2em;
  padding: 15px;
}

.reactCalendar__tile {
  position: relative;
  padding: 30px 10px;
}

.stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 128, 0, 0.8);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 2;
  pointer-events: none;
}

.present {
  background-color: #d4f0d4;
}

.attendanceButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #fcd033;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.attendanceButton:hover {
  background-color: #daaf22;
}

.attendanceButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.message {
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}
